<div class="d-flex">
    <app-side-bar></app-side-bar>
    <div class="d-flex w-100 justify-content-center align-items-center flex-column p-3">
        <h3 style="color: #2a7474;">EDIT EMPLOYEE</h3>
        <form class="border rounded p-5 shadow mt-5 w-50" (ngSubmit)="updateEmployee()">
            <input type="text" class="form-control mt-3"  disabled name="empid" [(ngModel)]="employeeDetailsById.id"
                placeholder="Employee Id">
            <input type="text" class="form-control mt-3" name="empemail" [(ngModel)]="employeeDetailsById.email"
                placeholder="Email">
            <input type="text" class="form-control mt-3" name="empuname" [(ngModel)]="employeeDetailsById.username"
                placeholder="Username">
            <div class="form-floating mt-3">
                <select class="form-select" id="floatingSelect"
                name="empstatus" [(ngModel)]="employeeDetailsById.status"
                aria-label="Floating label select example">
                    <option value="1">ACTIVE</option>
                    <option value="0">INACTIVE</option>
                </select>
                <label for="floatingSelect">Student Status</label>
            </div>
            <div class="d-flex mt-3">
                <button class="btn btn-warning w-50" (click)="cancel()">CANCEL</button>
                <button class="btn btn-primary w-50 ms-3" type="submit">UPDATE</button>
            </div>

        </form>
    </div>
</div>